<app-spinner></app-spinner>
<body>

    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">

      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Bienvenido a la clínica buena sonrisa!</h1>
          <p class="lead my-3">Nuestra clínica dental ofrece la mejor solucion efectiva en todas las áreas, en un entorno cálido y confortable, que cumple estrictas normas de bioseguridad. Contamos con equipamiento, instrumental y sistemas de última generación. Para tu conveniencia y comodidad, podemos realizar todos los procedimientos de diagnóstico y tratamiento dentro de nuestro centro.</p>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6">
          <div class="card text-white bg-primary mb-3">
            <a class="card-header">Ortodoncia</a>
            <div class="card-body">
              <div class="card-title">Descripción:</div>
              <p class="card-text mb-auto">La ortodoncia es la especialidad de la odontología que se encarga de la corregir la situación de los dientes y huesos incorrectamente posicionados. Los dientes que se encuentran en mala posición y los que no muerden correctamente contra sus antagonistas, son difíciles de mantener limpios.</p>
            <br></div>
        </div>
        </div>
        <div class="col-md-6">
          <div class="card text-white bg-primary mb-3">
            <a class="card-header">Prótesis</a>
            <div class="card-body">
              <div class="card-title">Descripción:</div>
              <p class="card-text mb-auto">Las prótesis dentales son los dispositivos artificiales que se emplean para sustituir uno o más dientes y tejidos circundantes que, por distintos motivos se han perdido, devolviendo tanto la funcionalidad como la estética perdida. Su finalidad es permitir que el paciente pueda masticar y expresarse con normalidad, cuestiones que, ante la falta de dientes, no podría realizar sin la prótesis en cuestión.</p>
            </div>
        </div>
        </div>
      </div>
    </div>

    <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card text-white bg-primary mb-3">
                <img class="card-img-top" src="/assets/1.jpeg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Nuestra Clínica se encuentra habilitada por el ministerio de salud pública de la nación y, los residuos patológicos son retirados por la empresa habilitada para dicha tarea; colaborando con ello a la preservación del medio ambiente.</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card text-white bg-primary mb-3">
                <img class="card-img-top" src="/assets/2.jpeg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">En nuestra Clínica buscamos la excelencia en todo lo que hacemos; contamos con un equipo de profesionales altamente capacitados y especializados en cada área.<br><br><br></p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card text-white bg-primary mb-3">
                <img class="card-img-top" src="/assets/3.jpeg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">El Dr. Andrés Etbul, es especialista en implantologia y técnicas de aumento de volumen, injertos y relleno óseo. Junto a un equipo de profesionales se ocupa día a día de brindar atención odontológica personalizada, moderna e integral.</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
</body>