<app-spinner></app-spinner>
<form [formGroup]="form" class="card text-white bg-primary mb-3">
   <div class="form-group">
     <label>DNI</label>
     <input type="text" formControlName="dni" class="form-control" [ngClass]="{ 'is-invalid': form.controls['dni'].touched && form.controls['dni'].invalid }" required readonly>
    <div *ngIf="form.controls['dni'].touched && form.controls['dni'].invalid">Error, debe ingresar un DNI válido!</div>
   </div>
   <div class="form-group">
     <label>Fecha</label>
     <input type="date" formControlName="date" class="form-control" [ngClass]="{ 'is-invalid': form.controls['date'].touched && form.controls['date'].invalid }" required>
     <div *ngIf="form.controls['date'].touched && form.controls['date'].invalid">Error, debe ingresar una fecha válida!</div>
   </div>
   <div class="form-group">
     <label>Hora</label>
     <input type="text" formControlName="hour" class="form-control" [ngClass]="{ 'is-invalid': form.controls['hour'].touched && form.controls['hour'].invalid }" required>
     <div *ngIf="form.controls['hour'].touched && form.controls['hour'].invalid">Error, debe ingresar una hora válida!</div>
   </div>
   <div class="form-group">
    <label>Especialista</label>
    <select formControlName="lastName" class="form-control">
    <option *ngFor="let dentist of dentistList" value="{{dentist.data.lastName}}">{{dentist.data.lastName}}</select>
  </div>

  <small *ngIf="error" class=""><i class="fa fa-times"></i> {{errorMessage}} </small>
  <!-- <small *ngIf="success" class=""><i class="fas fa-check"></i> Usuario creado con éxito! </small> -->
  <button type="submit" (click)="tryDentistShift()" class="btn btn-success">Register</button>
</form>
